.pie {
  position: relative;
  display: inline-grid;
  place-content: center;
}
.pie:before {
  content: "";
  position: absolute;
  inset: 0;
  background: conic-gradient(var(--c) 0deg, var(--c) calc(var(--p)*100%), #e7ecf1 calc(var(--p)*100%));
  border-radius: 50%;
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
